.barra{
    width: 100%;
    height: 100px;
    background-color: lightgreen;
    text-align: center;
}

.dispositivo{
    font-size: 30px;
    color: white;
}

@media (min-width: 800px){
    .barra{
        height: 150px;
        background-color: red;
    }
    .dispositivo{
        display: none;
    }  
}

@media (min-width: 1228px){
    .barra{
        height: 200px;
        background-color: blue;
    }
}

.rodape{
    text-align: center;
}